.mobile-nav {
  position: fixed;
  z-index: 100;
  background-color: rgba(35, 40, 45, 1);
  top: 0;
  left: 0;
  right: 0;
  align-items: middle;
  display: inline;
  justify-content: space-around;
  text-align: center;
  min-height: 10vh;
}

#dropbtn {
  position: absolute;
  z-index: 3;
  left: 49%;
  transform: translate(-50%);
  color: whitesmoke;
  background-color: #008b8b;
  border: #008b8b;
}

.close-btn{
  position: fixed;
  top: 15px;
  right: 25px;
  background-color: rgba(35, 40, 45, 1);
  color: #008b8b;
  border: none;
}

.dropdown-link {
  display: none;
  z-index: 2;
  margin-top: -5px;
  margin-right: 40px;
}
